@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<style>
    body {
        background-image: url("http://news.toyark.com/wp-content/uploads/sites/4/2016/06/Hot-Toys-Resident-Evil-6-Ada-Wong-003.jpg");
    }
</style>

<p style="text-align:center; color:orangered"> This is the Website which is designed by RE fans! .</p>
