@{
    ViewBag.Title = "Contact";
}

<h2 style=" color:aliceblue">@ViewBag.Title.</h2>


<style>
    body {
        background-image: url("https://wallpapertag.com/wallpaper/full/b/c/7/744940-resident-evil-5-jill-valentine-wallpaper-1920x1200-desktop.jpg");
    }
</style>
<address style="color:aliceblue">
    83King fisher<br />
    Winnipeg <br />
    <abbr title="Phone">P:</abbr>
    4319982335
</address>
<address style="color:aliceblue">
    <strong>Support:</strong>   <a href="mailto:Support@example.com">1159148810@qq.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">752527793@qq.com</a>
</address>