@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Post - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    body { background-image: url("https://wallpapertag.com/wallpaper/full/8/7/7/938015-free-download-resident-evil-4-wallpaper-1920x1080-for-iphone-5s.jpg"); }
    </style>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Resident Evil</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Login","Account")">Log in </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index","BlogPosts")">Create</a>
                    </li>




                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <!-- Title -->
                <h1>Resident Evil Blog</h1>
                <!-- Author -->
                <p class="lead">
                    by <a href="https://en.wikipedia.org/wiki/Resident_Evil">Lin Zhou</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
                <hr>
                <!-- Preview Image -->
                <iframe width="740" height="480" src="https://www.youtube.com/embed/Fzi1dcmQdE0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                <hr>
                <!-- Post Content -->
                <p class="lead">
                    The development of the first Resident Evil began in 1993 when Tokuro Fujiwara conceived it as a remake of his earlier 1989 Capcom horror game Sweet Home when the project was led by Shinji Mikami.[3][4] When in late 1994 marketing executives were setting up to bring the game to the United States, it was pointed out that a DOS game had been recently registered under that name, so a contest was held among company personnel to choose a new name; this competition turned up Resident Evil, the name currently known in the west.[5] Resident Evil made its debut on the PlayStation in 1996 and was later ported to the Sega Saturn.
                </p>

                <h1><a href="https://store.steampowered.com/search/?term=resident+Evil">Resident Evil Game Link</a></h1>
                <p><a href=" https://ca.video.search.yahoo.com/yhs/search;_ylt=AwrEwNjnMqVbR48Af8sXFwx.;_ylu=X3oDMTByMjB0aG5zBGNvbG8DYmYxBHBvcwMxBHZ0aWQDBHNlYwNzYw--?p=resident+evil+1+cocoon&fr=yhs-iba-1&hspart=iba&hsimp=yhs-1">Resident Evil 1 - Youtube</a></p>
                <p><a href="https://ca.video.search.yahoo.com/yhs/search;_ylt=AwrGHTbpMqVbrukANo087olQ;_ylu=X3oDMTBncGdyMzQ0BHNlYwNzZWFyY2gEdnRpZAM-;_ylc=X1MDMTM1MTIxNjcwMARfcgMyBGFjdG4DY2xrBGJjawNkOWhhZXFkZDdtYWE1JTI2YiUzRDMlMjZzJTNEZDYEY3NyY3B2aWQDUlRyMXR6RXdMakhVeFU3VFduc3BSV05QTVRrNExnQUFBQUI4R0E2cARmcgN5aHMtaWJhLTEEZnIyA3NhLWdwBGdwcmlkA1dQRUpPeE5oVFhTOFdiOU9hTXVOQ0EEbXRlc3RpZANudWxsBG5fcnNsdAM1OQRuX3N1Z2cDMTAEb3JpZ2luA2NhLnZpZGVvLnNlYXJjaC55YWhvby5jb20EcG9zAzAEcHFzdHIDBHBxc3RybAMEcXN0cmwDMTUEcXVlcnkDcmVzaWRlbnQgZXZpbCAyBHRfc3RtcAMxNTM3NTUzMTgzBHZ0ZXN0aWQDbnVsbA--?gprid=WPEJOxNhTXS8Wb9OaMuNCA&pvid=RTr1tzEwLjHUxU7TWnspRWNPMTk4LgAAAAB8GA6p&p=resident+evil+2&ei=UTF-8&fr2=p%3As%2Cv%3Av%2Cm%3Asa&fr=yhs-iba-1&hsimp=yhs-1&hspart=iba">Resident Evil 2 - Youtube</a></p>
                <p><a href="https://ca.video.search.yahoo.com/yhs/search;_ylt=AwrEzeIgM6Vb30oADUs87olQ;_ylu=X3oDMTBncGdyMzQ0BHNlYwNzZWFyY2gEdnRpZAM-;_ylc=X1MDMTM1MTIxNjcwMARfcgMyBGFjdG4DY2xrBGJjawNkOWhhZXFkZDdtYWE1JTI2YiUzRDMlMjZzJTNEZDYEY3NyY3B2aWQDNFZuUGVERXdMakhVeFU3VFduc3BSV05fTVRrNExnQUFBQUJfWTBhcwRmcgN5aHMtaWJhLTEEZnIyA3NhLWdwBGdwcmlkA243ajJJM3NaUkZDNzFYRWl4TEwxZ0EEbXRlc3RpZANudWxsBG5fcnNsdAM2MARuX3N1Z2cDNgRvcmlnaW4DY2EudmlkZW8uc2VhcmNoLnlhaG9vLmNvbQRwb3MDMARwcXN0cgMEcHFzdHJsAwRxc3RybAMxNQRxdWVyeQNyZXNpZGVudCBldmlsIDMEdF9zdG1wAzE1Mzc1NTMyMjgEdnRlc3RpZANudWxs?gprid=n7j2I3sZRFC71XEixLL1gA&pvid=4VnPeDEwLjHUxU7TWnspRWN_MTk4LgAAAAB_Y0as&p=resident+evil+3&ei=UTF-8&fr2=p%3As%2Cv%3Av%2Cm%3Asa&fr=yhs-iba-1&hsimp=yhs-1&hspart=iba">Resident Evil 3 - Youtube</a></p>
                <p><a href="https://ca.video.search.yahoo.com/yhs/search;_ylt=AwrGHTZNM6VbzekA6Ws87olQ;_ylu=X3oDMTBncGdyMzQ0BHNlYwNzZWFyY2gEdnRpZAM-;_ylc=X1MDMTM1MTIxNjcwMARfcgMyBGFjdG4DY2xrBGJjawNkOWhhZXFkZDdtYWE1JTI2YiUzRDMlMjZzJTNEZDYEY3NyY3B2aWQDekRubkp6RXdMakhVeFU3VFduc3BSV05iTVRrNExnQUFBQUNDRkNQOARmcgN5aHMtaWJhLTEEZnIyA3NhLWdwBGdwcmlkA19pWnhqZ2xlU0xHaVZsSDB3YUIuX0EEbXRlc3RpZANudWxsBG5fcnNsdAM2MARuX3N1Z2cDMTAEb3JpZ2luA2NhLnZpZGVvLnNlYXJjaC55YWhvby5jb20EcG9zAzAEcHFzdHIDBHBxc3RybAMEcXN0cmwDMTUEcXVlcnkDcmVzaWRlbnQgZXZpbCA0BHRfc3RtcAMxNTM3NTUzMjQzBHZ0ZXN0aWQDbnVsbA--?gprid=_iZxjgleSLGiVlH0waB._A&pvid=zDnnJzEwLjHUxU7TWnspRWNbMTk4LgAAAACCFCP8&p=resident+evil+4&ei=UTF-8&fr2=p%3As%2Cv%3Av%2Cm%3Asa&fr=yhs-iba-1&hsimp=yhs-1&hspart=iba">Resident Evil 4 - Youtube</a></p>
                <hr>
                <!-- Blog Comments -->
                <!-- Comments Form -->
                <div class="well">
                    <h4>Send Your Suggestion to us:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <hr>
                <!-- Posted Comments -->
                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="https://dsa1.pakwheels.com/forums/user_avatar/www.pakwheels.com/carn/64/7630_1.png" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                           DSB SEMON
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                       我非常喜欢 生化危机 真的！ \(^o^)/~！！！！！！！！！！！！！！！！
                    </div>
                </div>
                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://www.sinaimg.cn/blog/developer/wiki/LOGO_64x64.png" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Lady Gaga
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Resident Evil 2 Remake will hit the same beats established in the original, such as solving puzzles, locating keys, and fending off zombies and other assorted bio-weapons
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="https://thetoad54.files.wordpress.com/2010/06/super-mario-bros.gif" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    HEHEDSB
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                               Im waitting for the resident evil 4 for along time. In the perod of studying in Senior high scoll. I play it !
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>
            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Search your favour in Bar</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Index</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="https://images.search.yahoo.com/yhs/search?hspart=iba&hsimp=yhs-1&type=35nt_7508_CHW_CA&p=resident%20evil#id=1&iurl=http%3A%2F%2F3.bp.blogspot.com%2F-PhcNmNDc4r0%2FVBihLO8JAoI%2FAAAAAAAAAsM%2FCpSPk97ZU4Y%2Fs1600%2Fresident_evil_wallpaper_by_volpavol-d4ntb9e.jpg&action=click">Resident Evil Beautiful Picture</a>
                                </li>
                                <li>
                                    <a href="http://residentevil.wikia.com/wiki/Communication_from_Krauser_3">Communication  of Resident evil</a>
                                </li>
                               
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="http://www.capcom.com">The History of Capcoon</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
